{% extends 'base.html' %}

{% block title %}
About
{% endblock %}

{% block body %}
<main class="container mt-5">
    <h1>About page.</h1>
    <p class="lead">Info about my site!</p>
  </main>
{% endblock %}