{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
<main class="container mt-5">
  <h1>This is my main page!</h1>
  <p class="lead">Hello everyone!</p>
  <p class="lead">
    <a href="#" class="btn btn-lg btn-light fw-bold border-white bg-white">Learn more</a>
  </p>
</main>
{% endblock %}