{% extends 'base.html' %}

{% block title %}
Все статьи на сайте
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Все статьи на сайте</h1>
    {% for i in articles %}
    <div class="alert alert-light" role="alert">
        <h2>{{ i.title }}</h2>
        <p>{{ i.intro }}</p>
        <div class="row row-cols-auto">
            <div class="col"><h2 class="text-center"><a href="/posts/{{ i.id }}" class="btn btn-dark">Обзор</a></h2></div>
            <div class="col"><h4 class="text-center"><b>Дата: {{ i.date.date() }}</b></h2></div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}