{% extends 'base.html' %}

{% block title %}
{{ article.title }}
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>{{ article.title }}</h1>
    <div class="alert alert-light" role="alert">
        <h5><p>{{ article.text }}</p><h5>
        <div class="row row-cols-auto">
            <div class="col"><h6 class="text-center"><b>Дата: {{ article.date.date() }}</b></h2></div>
        </div>
    </div>
</div>
{% endblock %}